%h2
  = "Привет #{current_user.short_name},"
  = link_to('выйти', destroy_user_session_path, method: :delete)
- if can? :create, Ticket
  = link_to 'Создать тикет', new_ticket_path

%table.table.table-sm.table-striped.table-hover
  %thead
    %tr
      - Ticket::SHOWFIELDS.each do |field|
        %th{class: field}
          = field.humanize
  %tbody
    = render partial: 'ticket_td', collection: @tickets, as: :ticket